/* Waybar Theme from Pywal */

#waybar {
    background: #021415;
    color: #edc4a3;
}

#clock {
    color: #BC845B;
}

#cpu {
    color: #925E39;
}

#network {
    color: #6A5846;
}

#memory {
    color: #996E4D;
}

