/* Waybar Template */
#waybar {
  border: none;
  background: none; /* Placeholder for color0 */
  color: #c9d1e0; /* Placeholder for color7 */
  font-family: "JetBrainsMono Nerd Font, JetBrainsMono NF"; /* Your static font */
}

.modules-left {
  background: black;
  border-radius: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 2px;
}

.modules-right,
.modules-center {
  border-radius: 6px;
  background: black;
  padding: 2px 12px;
}

#clock {
  color: #6B91D6; /* Placeholder for color6 */
}

#cpu {
  color: #8B71AB;
}

#network {
  color: #5E669C;
}

#memory {
  color: #628BB7;
}

#workspaces {
  border-radius: 4px;
  margin: 0;
}

#workspaces button.active {
  background-color: #628BB7;
  color: black;
  padding-right: 9;
}

#workspaces button {
  transition: all 0.2s ease;
  background: none;
  padding-right: 9;
  padding-left: 6.5;
  box-shadow: none;
  color: #c9d1e0;
  font-size: 16px;
  margin-right: 2px;
}

#workspaces button:hover {
  color: black;
  background-color: #628BB7;
  border-color: transparent;
  box-shadow: none;
  text-shadow: none;
}

/* Add other rules and placeholders */
